#crop-dialog {
    width: 800px;
    max-height: 600px; /* Размеры должны быть фиксированы */
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтобы окно было в видимой зоне в любом месте */
    top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
    left: 50%; /* половина экрана слева */
    margin-top: -300px;
    margin-left: -400px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
    display: none; /* в обычном состоянии окна не должно быть */
    opacity: 0; /* полностью прозрачно для анимирования */
    z-index: 5; /* окно должно быть наиболее большем слое */
    padding: 20px 10px;
}
.crop-dialog-open img{
    width: 50px;
}
#crop-dialog .img-container{
    width: 590px;
    max-height: 560px;
    float: left;
    margin-top: 10px;
    padding-bottom: 15px;
}

#img-preview{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.crop-info{
    display: none;
}
.crop-dialog-submit{
    margin-left: 20px;
    margin-top: 5px;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 4px;
    padding: 6px 12px;
    color: #ffffff;
    width: 150px;
}
/* Кнопка закрыть для тех кто в танке) */
#crop-dialog #crop-dialog-close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}
/* Подложка */
#crop-dialog-overlay {
    z-index: 3; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
    position: fixed; /* всегда перекрывает весь сайт */
    background-color: #000; /* черная */
    opacity: 0.8; /* но немного прозрачна */
    width: 100%;
    height: 100%; /* размером во весь экран */
    top: 0;
    left: 0; /* сверху и слева 0, обязательные свойства! */
    cursor: pointer;
    display: none; /* в обычном состоянии её нет) */
}

div[data-contain-hidden-fields] input{
    display: none;
}

.cropping-block, .cropping-block img{
    width: 250px;
}
/*http://dontforget.pro/javascript/prostoe-modalnoe-okno-na-jquery-i-css-bez-plaginov/*/